@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.test-quest {
  background-color: #1f4665;
  border: 10px solid #55F055;
  box-sizing: border-box; /* Include padding and border in element's width and height */
  color: white;
  font-family: 'VT323', monospace;
  font-size: 1.1vw;

}
.answers {
  font-family: 'VT323', monospace;
  background-color: #1f4665;
  border: 10px solid #55F055;
  box-sizing: border-box;
  color: white;
  font-size: 1.1vw;
}
.transparency{
  background-color: transparent;
  border: 0;
  color: white;
  text-align: left !important;
}